@font-face {
  font-family: "iconfont"; /* Project id 3868874 */
  src: url('iconfont.woff2?t=1676388710058') format('woff2'),
       url('iconfont.woff?t=1676388710058') format('woff'),
       url('iconfont.ttf?t=1676388710058') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e625";
}

.icon-js:before {
  content: "\e704";
}

.icon-vue:before {
  content: "\e799";
}

.icon-react:before {
  content: "\e79a";
}

.icon-nodejs:before {
  content: "\e79b";
}

.icon-js-outline:before {
  content: "\e810";
}

.icon-markdown:before {
  content: "\e6ff";
}

.icon-java:before {
  content: "\e639";
}

.icon-dart:before {
  content: "\e63f";
}

.icon-rust:before {
  content: "\e68f";
}

.icon-flutter:before {
  content: "\eb95";
}

.icon-ts:before {
  content: "\ecef";
}

.icon-toml:before {
  content: "\e600";
}

.icon-json:before {
  content: "\e7bd";
}

.icon-dart-outline:before {
  content: "\eb71";
}

