@font-face {
    font-family: 'UniDream-LED';
    src: url("./UNIDREAMLED.ttf") format('truetype');
}

@font-face {
    font-family: 'PangMenZhengDao';
    src: url("./pangmenzhengdao.ttf") format('truetype');
}

@font-face {
    font-family: 'ALiHYAiHei-Beta';
    src: url("./ALiHYAiHei-Beta.ttf") format('truetype');
}
