.link-label {
    position: relative;
    width: fit-content;
    height: 32px;
    padding: 0 10px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}