.link-label {
    position: relative;
    width: fit-content;
    height: 32px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
    line-height: 32px;
    user-select: none;
    cursor: pointer;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}